$clr-primary: hsl(26, 100%, 55%);
$clr-secondary: hsl(25, 100%, 94%);
$clr-darker: hsl(220, 13%, 13%);
$clr-darker-light: hsl(219, 9%, 45%);
$clr-neutral-light: hsl(220, 14%, 75%);
$clr-light: hsl(0, 0%, 100%);
$clr-lighter: hsl(223, 64%, 98%);
$clr-super-dark: hsl(0, 0%, 0%);