$bg-main: #1D1D1D;
$bg-profile: #000000;
$bg-aside: #181818;
$bg-input: #2b2b2b;
$clr-primary: #ffffff;
$clr-secondary: #696969;
$clr-text:#ffffff91;
$clr-mark: #ff184e;
$clr-mark-secondary:#08FDD8;