/* Import Colors */
/* Import Fonts */
@import 'https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap';
/* Import Pages */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Geral */
a {
  text-decoration: none;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

/**********************/
/* Container */
.container {
  padding: 0 10%;
}

@media screen and (max-width: 990px) {
  .container {
    padding: 0 0;
  }
}
/**********************/
/* Header */
.header {
  width: 100%;
  border-bottom: 2px solid rgba(165, 169, 177, 0.267);
  margin-bottom: 4rem;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 1.4rem 0 1.6rem 0;
}

.header__navbar--mobile {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.699);
  height: 185vh;
  display: none;
}
.header__navbar--mobile .header__list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 55%;
  z-index: 15;
  box-shadow: 2px 0px 17px 0px #000000b5;
  background-color: white;
  padding: 0 30px;
}
.header__navbar--mobile .header__item--mobile {
  margin-top: 1.4rem;
  font-weight: 700;
}
.header__navbar--mobile .header__item--mobile:first-child {
  margin-bottom: 2rem;
}
.header__navbar--mobile .header__item--mobile:first-child svg {
  fill: #68707d;
}
.header__navbar--mobile .header__item--mobile:first-child svg:hover {
  fill: #ff7d1a;
}
.header__navbar--mobile .header__link {
  padding: 0;
  font-size: 1.2rem;
}
.header__navbar--mobile .header__link:hover {
  border-bottom: none;
  color: #ff7d1a;
}

.header__link {
  color: #1d2025;
  padding-bottom: 35px;
}
.header__link:hover {
  border-bottom: 4px solid #ff7d1a;
  color: #ff7d1a;
}

.header__list .header__item {
  margin-right: 2rem;
}

.header__item {
  display: inline-block;
  position: relative;
}

.header__sublist .header__cart {
  vertical-align: middle;
  position: relative;
  margin-right: 1rem;
}
.header__sublist .header__cart i {
  position: absolute;
  top: -60%;
  bottom: 0;
  left: 25%;
  right: 0;
  z-index: -1;
  color: #ff7d1a;
  animation: jump 1s ease infinite forwards normal;
  -moz-animation: jump 1s ease infinite forwards normal;
  -o-animation: jump 1s ease infinite forwards normal;
  -webkit-animation: jump 1s ease infinite forwards normal;
  display: none;
}
@keyframes jump {
  0% {
    top: -60%;
  }
  10% {
    top: -60%;
  }
  20% {
    top: -70%;
  }
  50% {
    top: -90%;
  }
  70% {
    top: -70%;
  }
  90% {
    top: -60%;
  }
  100% {
    top: -60%;
  }
}
.header__sublist .header__user-profile {
  width: 46px;
  vertical-align: middle;
}
.header__sublist .header__user-profile:hover {
  border: 3px solid #ff7d1a;
  border-radius: 50%;
  cursor: pointer;
}

.header__items-resume {
  position: absolute;
  top: 230%;
  bottom: 0;
  left: -800%;
  right: 0;
  z-index: 10;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 11px 3px #1d20253b;
  width: 350px;
  height: 200px;
  overflow: hidden scroll;
  scroll-behavior: smooth;
  display: none;
}
.header__items-resume::-webkit-scrollbar {
  width: 6px;
}
.header__items-resume::-webkit-scrollbar-track {
  background: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.header__items-resume::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.452);
  border-radius: 10px;
}
.header__items-resume .header__items-title {
  border-bottom: 1px solid rgba(122, 122, 122, 0.205);
  padding: 20px;
  font-weight: 700;
}
.header__items-resume .header__warning {
  color: #68707d;
  font-weight: 700;
  font-size: unset;
  line-height: unset;
  letter-spacing: unset;
  margin: 15% 0;
  text-align: center;
  display: block;
}
.header__items-resume .header__item--cart {
  padding: 5px 20px 10px 20px;
  margin: 1rem 0;
  position: relative;
}
.header__items-resume .header__item--cart:first-child {
  display: none;
}
.header__items-resume .header__item--cart .remove-item {
  position: absolute;
  top: 35%;
  bottom: 0;
  left: 90%;
  right: 0%;
  z-index: 15;
}
.header__items-resume .header__item--cart + .header__item--cart {
  border-bottom: 1px solid rgba(122, 122, 122, 0.205);
  padding: 20px 20px 10px 20px;
}
.header__items-resume .header__thumbnail {
  display: inline-block;
  margin-right: 1rem;
  width: 46px;
}
.header__items-resume .header__thumbnail img {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.header__items-resume .header__cart-body {
  display: inline-block;
  line-height: 0.7cm;
  margin-bottom: 1rem;
  color: #68707d;
}
.header__items-resume .header__cart-item {
  display: inline-block;
}
.header__items-resume .header__cart-item:last-child {
  color: #1d2025;
  font-weight: 700;
}
.header__items-resume .header__cart-link .cart-btn {
  background-color: #ff7d1a;
  border: none;
  border-radius: 10px;
  padding: 15px 0;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0.5rem;
  width: 100%;
}
.header__items-resume .header__cart-link .cart-btn:active {
  opacity: 0.9;
  transform: scale(98%);
  transition-duration: 0.3s;
}

.is-mobile-only {
  display: none;
}

@media screen and (max-width: 990px) {
  .is-desktop-only {
    display: none;
  }

  .is-mobile-only {
    display: inline-block;
    margin: 0 0 0 0.5rem;
  }

  .header {
    border-bottom: none;
    margin-bottom: 0;
    padding: 0 15px;
  }

  .header__list .header__item {
    margin-right: 0.8rem;
  }
  .header__list .header__item:first-child {
    margin-left: 1.2rem;
  }

  .header__navbar--mobile {
    display: none;
  }

  .header__items-resume {
    position: absolute;
    top: 230%;
    bottom: 0;
    left: -700%;
    right: 0;
    z-index: 10;
  }
}
/**********************/
.main__modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.699);
  display: none;
}
.main__modal .modal__close {
  position: absolute;
  top: 8%;
  left: 64%;
  cursor: pointer;
}
.main__modal .modal__close svg {
  fill: #ffffff;
}
.main__modal .modal__close svg:hover {
  fill: #ff7d1a;
}
.main__modal .modal__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.main__modal .modal__container .main__aside {
  width: 30%;
  margin-top: 5rem;
}
.main__modal .modal__container .main__product {
  border-radius: 15px;
  width: 100%;
}
.main__modal .modal__container .main__product .go-next-left,
.main__modal .modal__container .main__product .go-next-right {
  background-color: white;
  border-radius: 50%;
  font-size: 2rem;
  padding: 5px 15px;
  cursor: pointer;
}
.main__modal .modal__container .main__product .go-next-left {
  position: absolute;
  top: 40%;
  left: 33.5%;
}
.main__modal .modal__container .main__product .go-next-right {
  transform: rotate(180deg);
  position: absolute;
  top: 40%;
  left: 63.5%;
}
.main__modal .modal__container .main__product i:hover {
  color: white;
  background-color: #ff7d1a;
}
.main__modal .modal__container .product-overview--modal {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  object-fit: cover;
  border-radius: inherit;
  box-shadow: 0px 0px 10px 0px #000000b5;
}
.main__modal .modal__container .main__thumbnail--modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 2rem 0 5rem 0;
}
.main__modal .modal__container .main__thumbnail--modal .is-focused {
  border: 3px solid #ff7d1a;
  border-radius: 8px;
}
.main__modal .modal__container .main__thumbnail--modal img {
  box-shadow: 0px 0px 10px 0px #000000b5;
  border-radius: 8px;
  width: 74px;
  cursor: pointer;
}
.main__modal .modal__container .main__thumbnail--modal img:hover {
  opacity: 0.9;
}
.main__modal .modal__container .main__thumbnail--modal img:active {
  opacity: 0.7;
}

/* Main */
.main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.main .main__aside {
  margin: 0 7rem 0 5rem;
}
.main .main__aside .main__product {
  border-radius: 15px;
  width: 100%;
}
.main .main__aside .main__product .go-next-left,
.main .main__aside .main__product .go-next-right {
  background-color: white;
  border-radius: 50%;
  font-size: 2rem;
  padding: 5px 15px;
  cursor: pointer;
}
.main .main__aside .main__product .go-next-left {
  position: absolute;
  top: 50%;
  left: 0;
}
.main .main__aside .main__product .go-next-right {
  transform: rotate(180deg);
  position: absolute;
  top: 50%;
  right: 0;
}
.main .main__aside .main__product i:hover {
  color: white;
  background-color: #ff7d1a;
}
.main .main__aside .product-overview {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  object-fit: cover;
  border-radius: inherit;
  cursor: pointer;
}
.main .main__aside .main__thumbnail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 1.6rem 0 1rem 0;
}
.main .main__aside .main__thumbnail .is-focused {
  border: 3px solid #ff7d1a;
  border-radius: 8px;
}
.main .main__aside .main__thumbnail img {
  border-radius: 8px;
  width: 74px;
  cursor: pointer;
}
.main .main__aside .main__thumbnail img:hover {
  opacity: 0.9;
}
.main .main__aside .main__thumbnail img:active {
  opacity: 0.7;
}
.main .main__article {
  margin-top: 2rem;
}
.main .main__title {
  color: #1d2025;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.2cm;
  letter-spacing: unset;
  margin-top: 0.5rem;
}
.main .sub {
  color: #ff7d1a;
  font-weight: 700;
  font-size: 0.8rem;
  line-height: unset;
  letter-spacing: 1px;
}
.main .main__paragraph {
  color: #1d2025;
  font-weight: unset;
  font-size: unset;
  line-height: 0.6cm;
  letter-spacing: 1px;
  margin: 1rem 0;
}
.main .main__price {
  color: #1d2025;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: unset;
  letter-spacing: unset;
  margin-top: 2.2rem;
}
.main .main__price::after {
  content: "50%";
  color: #ff7d1a;
  font-weight: unset;
  font-size: 1rem;
  line-height: unset;
  letter-spacing: unset;
  background-color: #ffede0;
  padding: 3px 8px;
  border-radius: 5px;
  margin-left: 10px;
  vertical-align: middle;
}
.main .old-price {
  text-decoration: line-through;
  color: #b6bcc8;
  font-weight: unset;
  font-size: 0.85rem;
  line-height: unset;
  letter-spacing: unset;
}
.main .main__footer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 1.6rem;
  position: relative;
}
.main .main__footer .main__btn {
  background-color: #ff7d1a;
  border: none;
  border-radius: 10px;
  padding: 18px 70px 18px 100px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 5px 9px 1px #ff7d1aa1;
  position: relative;
}
.main .main__footer .main__btn:hover {
  opacity: 0.9;
}
.main .main__footer .main__btn:active {
  transform: scale(98%);
  transition-duration: 0.3s;
}
.main .main__footer .main__btn svg {
  position: absolute;
  top: 25%;
  bottom: 0;
  left: 30%;
  right: 0;
  z-index: 0;
  fill: white;
}
.main .main__footer .footer__list {
  display: flex;
  justify-content: space-between;
  align-items: unset;
  flex-wrap: nowrap;
  width: 140px;
  background-color: #f7f8fd;
  margin-right: 1.2rem;
  padding: 10px 7px;
  border-radius: 10px;
}
.main .main__footer .footer__item {
  text-align: center;
  display: inline-block;
}
.main .main__footer .footer__item.count {
  color: unset;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: unset;
  letter-spacing: unset;
  margin-top: 8px;
}
.main .main__footer .footer__item.less {
  color: #ff7d1a;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: unset;
  letter-spacing: unset;
  cursor: pointer;
}
.main .main__footer .footer__item.less:active {
  opacity: 0.7;
}
.main .main__footer .footer__item.more {
  color: #ff7d1a;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: unset;
  letter-spacing: unset;
  cursor: pointer;
}
.main .main__footer .footer__item.more:active {
  opacity: 0.7;
}

@media screen and (max-width: 990px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .main .main__aside {
    margin: 0 0;
  }
  .main .main__aside .main__product {
    border-radius: 0;
    width: 100%;
  }
  .main .main__aside .product-overview {
    border-radius: 0;
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
  }
  .main .main__aside .main__thumbnail {
    display: none;
  }
  .main .main__article {
    padding: 0 15px;
    margin-top: 2rem;
  }
  .main .sub {
    color: #ff7d1a;
    font-weight: 700;
    font-size: 0.7rem;
    line-height: unset;
    letter-spacing: 1px;
  }
  .main .old-price {
    float: right;
    margin-top: -20px;
  }
  .main .main__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1.2rem;
    width: 100%;
  }
  .main .main__footer .main__counter {
    width: 100%;
  }
  .main .main__footer .main__btn {
    width: 100%;
  }
  .main .main__footer .footer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
    padding: 10px 20px;
  }
}
@media screen and (min-width: 1400px) {
  .main .main__aside .main__thumbnail img {
    width: 20%;
  }
  .main .main__article {
    margin-top: 7rem;
  }
  .main .main__title {
    color: #1d2025;
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.6cm;
    letter-spacing: unset;
    margin-top: 0.5rem;
  }
  .main .sub {
    color: #ff7d1a;
    font-weight: 700;
    font-size: 1rem;
    line-height: unset;
    letter-spacing: 1px;
  }
  .main .main__paragraph {
    color: #1d2025;
    font-weight: unset;
    font-size: 1.4rem;
    line-height: 0.9cm;
    letter-spacing: 1px;
  }
  .main .main__price {
    color: #1d2025;
    font-weight: 700;
    font-size: 2rem;
    line-height: unset;
    letter-spacing: unset;
  }
  .main .old-price {
    color: #b6bcc8;
    font-weight: unset;
    font-size: 1rem;
    line-height: unset;
    letter-spacing: unset;
  }
  .main .main__footer .main__btn {
    background-color: #ff7d1a;
    border: none;
    border-radius: 10px;
    padding: 18px 70px 18px 100px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
  }
  .main .main__footer .main__btn svg {
    position: absolute;
    top: 25%;
    bottom: 0;
    left: 35%;
    right: 0;
    z-index: 0;
  }
  .main .main__footer .footer__list {
    display: flex;
    justify-content: space-between;
    align-items: unset;
    flex-wrap: nowrap;
    width: 250px;
  }
}

/*# sourceMappingURL=style.css.map */
