/* Import Colors */
/* Import Fonts */
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:wght@900&display=swap';
/* Import Pages */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #1D1D1D;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

em {
  font-style: italic;
}

/* Mixin */
/******************************************************************/
/* Document Scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #ff184e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #08FDD8;
}

/******************************************************************/
/* Aside */
.aside {
  background-color: #181818;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  position: fixed;
  left: 0;
  z-index: 0;
}
.aside .aside__header {
  background-color: #000000;
  color: #ffffff;
  padding: 15px 12px 30px 12px;
}
.aside .aside__logo {
  color: #ff184e;
  font: bold 6rem "Roboto", sans-serif;
  text-shadow: 5px 0px 0px #08FDD8;
  margin-right: 0.5rem;
}
.aside .aside__title {
  color: #ffffff;
  font: bold 1.6rem "Roboto", sans-serif;
  border-bottom: 2px solid transparent;
}
.aside .aside__title:hover {
  border-bottom: 2px solid #ffffff;
}
.aside .aside__subtitle {
  margin-top: 1.6rem;
  font-size: 0.75rem;
  color: #ffffff91;
}
.aside .aside__item {
  border-top: 1px solid rgba(255, 255, 255, 0.048);
  padding: 15px 0;
}
.aside .aside__link {
  color: #ffffff91;
}
.aside .aside__link:hover {
  color: #ff184e;
  border-bottom: 1px solid #ff184e;
  transition-duration: 500ms;
}
.aside .aside__link.icon {
  margin-right: 8px;
}
.aside .aside__link.icon:hover {
  border-bottom: none;
}

/*********************************************************/
/* Main */
.main {
  padding-left: 145px;
  width: 100%;
  height: 100%;
}
.main .loading-indicator {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
.main .progress-container {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: transparent;
}
.main .progress-bar {
  height: 5px;
  background: #ff184e;
  width: 0%;
}

/*********************************************************/
/* Main - Header */
.header {
  margin-bottom: 400px;
  padding: 100px 0 0 0;
  position: relative;
}
.header .mark {
  color: #ff184e;
  text-shadow: 5px 0px 0px #08FDD8;
  margin-right: 3px;
}
.header .header__title {
  color: #ffffff;
  font: bold 6rem "Roboto", sans-serif;
  margin-left: 5rem;
  position: relative;
}
.header .animation__title {
  animation: frec 1s ease 2s 1 normal forwards running;
  -webkit-animation: frec 1s ease 2s 1 normal forwards running;
  -o-animation: frec 1s ease 2s 1 normal forwards running;
  -moz-animation: frec 1s ease 2s 1 normal forwards running;
  position: absolute;
  top: -100%;
  left: 0;
  opacity: 0;
}
@keyframes frec {
  from {
    top: -30%;
    opacity: 0;
  }
  to {
    top: -5%;
    opacity: 1;
  }
}
.header .animation__title:hover {
  color: #ff184e;
}
.header .animation__title-2 {
  animation: frec5 1s ease 3s 1 normal forwards running;
  -webkit-animation: frec5 1s ease 3s 1 normal forwards running;
  -o-animation: frec5 1s ease 3s 1 normal forwards running;
  -moz-animation: frec5 1s ease 3s 1 normal forwards running;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  padding-left: 50%;
  height: 100%;
  opacity: 0;
}
@keyframes frec5 {
  from {
    padding-left: 500px;
    opacity: 0;
  }
  to {
    padding-left: 0;
    opacity: 1;
  }
}
.header .animation__title-2:hover {
  color: #08FDD8;
}
.header .animation__title-2 .special {
  background-color: transparent;
  color: #ffffff;
}
.header .animation__title-2 .special:hover {
  color: #ff184e;
}
.header .animation__title-3 {
  animation: flow 900ms ease 4s 1 normal forwards running;
  -webkit-animation: flow 900ms ease 4s 1 normal forwards running;
  -o-animation: flow 900ms ease 4s 1 normal forwards running;
  -moz-animation: flow 900ms ease 4s 1 normal forwards running;
  position: absolute;
  bottom: -300%;
  opacity: 0;
}
@keyframes flow {
  from {
    bottom: -300%;
    opacity: 0;
  }
  to {
    bottom: -200%;
    opacity: 1;
  }
}
.header .animation__title-3:hover {
  color: #ff184e;
}
.header .animation__title-3 .special-2 {
  background-color: transparent;
  color: #ffffff;
}
.header .animation__title-3 .special-2:hover {
  color: #08FDD8;
}
.header .header__subtitle {
  color: #ffffff91;
  font: normal 1rem "Open Sans", sans-serif;
  animation: frec2 4s ease 5s 1 normal forwards running;
  -webkit-animation: frec2 4s ease 5s 1 normal forwards running;
  -o-animation: frec2 4s ease 5s 1 normal forwards running;
  -moz-animation: frec2 4s ease 5s 1 normal forwards running;
  position: absolute;
  bottom: -150%;
  letter-spacing: 0.2cm;
  margin: 2rem 0 3rem 5rem;
  opacity: 0;
}
@keyframes frec2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header .header__button {
  animation: frec3 900ms ease 7s 1 normal forwards running;
  -webkit-animation: frec3 900ms ease 7s 1 normal forwards running;
  -o-animation: frec3 900ms ease 7s 1 normal forwards running;
  -moz-animation: frec3 900ms ease 7s 1 normal forwards running;
  color: #ff184e;
  font: bold 0.9rem "Open Sans", sans-serif;
  display: block;
  margin-top: 1rem;
  margin-left: 5rem;
  letter-spacing: 0.1cm;
  border: 2px solid #ff184e;
  padding: 15px 50px;
  background: linear-gradient(to right, #ff184e 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: all 0.7s ease-out;
  cursor: pointer;
  position: absolute;
  bottom: -200%;
  z-index: 1;
  opacity: 0;
}
.header .header__button:hover {
  background-position: bottom left;
  color: #1D1D1D;
}
@keyframes frec3 {
  from {
    bottom: -200%;
    opacity: 0;
  }
  to {
    bottom: -170%;
    opacity: 1;
  }
}
.header .scroll {
  left: -1%;
  float: left;
}
.header .scroll-right {
  right: 0;
  float: right;
}
.header .scroll,
.header .scroll-right {
  animation: scrolld 1.5s ease-in-out 0s infinite normal forwards running;
  -webkit-animation: scrolld 1.5s ease-in-out 0s infinite normal forwards running;
  -o-animation: scrolld 1.5s ease-in-out 0s infinite normal forwards running;
  -moz-animation: scrolld 1.5s ease-in-out 0s infinite normal forwards running;
  color: #ffffff91;
  font: normal 0.9rem "Open Sans", sans-serif;
  position: absolute;
  bottom: 0;
  z-index: 1;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
.header .left,
.header .right {
  font-size: 0.8rem;
  font-weight: normal;
  color: #ffffff91;
  position: absolute;
  bottom: -30%;
  z-index: 1;
}
.header .left {
  left: 1.7%;
}
.header .right {
  right: 2.6%;
}

/*********************************************************/
/* Main - Portfolio */
.portfolio {
  position: relative;
  padding: 100px 0 0 0;
}
.portfolio .cover {
  width: 85vw;
  position: absolute;
  top: -10%;
  right: 0%;
  left: 0%;
  z-index: -1;
}
.portfolio .portfolio__title {
  color: #08FDD8;
  font: normal 4.5rem "Roboto", sans-serif;
  margin-left: 5rem;
  background: linear-gradient(to right, #ff184e 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: all 0.7s ease-out;
  width: 34%;
}
.portfolio .portfolio__title:hover {
  background-position: bottom left;
  color: #ffffff;
}
.portfolio .portfolio__paragraph {
  color: #ffffff;
  font: normal 1rem "Open Sans", sans-serif;
  margin: 2rem 0 2rem 6rem;
  width: 600px;
  text-align: justify;
  line-height: 0.7cm;
}
.portfolio .portfolio__paragraph.is-sz-sm {
  font-size: 0.9rem;
  margin-bottom: 4rem;
}
.portfolio .portfolio__gallery {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-template-rows: auto;
}
.portfolio .portfolio__thumbnail {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.portfolio .portfolio__thumbnail img {
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}
.portfolio .portfolio__thumbnail .portfolio__view-project {
  animation: grow 500ms ease 0s 1 normal forwards running;
  -webkit-animation: grow 500ms ease 0s 1 normal forwards running;
  -o-animation: grow 500ms ease 0s 1 normal forwards running;
  -moz-animation: grow 500ms ease 0s 1 normal forwards running;
  color: #000000;
  font: bold 0.6rem "Open Sans", sans-serif;
  text-align: center;
  letter-spacing: 0.1cm;
  background-color: #08FDD8;
  border-radius: 50%;
  padding: 35px 15px;
  position: absolute;
  left: 30%;
  top: 30%;
  z-index: 10;
  display: none;
}
@keyframes grow {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}
.portfolio .portfolio__thumbnail:hover img {
  transition-duration: 400ms;
  transform: scale(110%);
  filter: brightness(100%);
}
.portfolio .portfolio__thumbnail:hover .portfolio__view-project {
  display: block;
}

/*********************************************************/
/* Main - About */
.about {
  position: relative;
  padding: 70px 0 0;
}
.about .cover {
  width: 85vw;
  position: absolute;
  top: -55%;
  right: 0%;
  left: -10%;
  z-index: -1;
}
.about .about__cover-img {
  margin-right: 5rem;
  margin-bottom: 5rem;
}
.about .about__body {
  display: flex;
  justify-content: space-between;
}
.about .about__title {
  color: #08FDD8;
  font: normal 4.5rem "Roboto", sans-serif;
  margin-left: 5rem;
  background: linear-gradient(to right, #ff184e 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: all 0.7s ease-out;
  width: 46%;
}
.about .about__title:hover {
  color: #ffffff;
  background-position: bottom left;
}
.about .about__paragraph {
  color: #ffffff;
  font: normal 1rem "Open Sans", sans-serif;
  margin: 2rem 0 2rem 6rem;
  width: 400px;
  text-align: justify;
  line-height: 0.6cm;
}
.about .scroll {
  left: -1%;
  float: left;
}
.about .scroll-right {
  right: 0;
  float: right;
}
.about .scroll,
.about .scroll-right {
  animation: scrolld 1.5s ease-in-out 0s infinite normal forwards running;
  -webkit-animation: scrolld 1.5s ease-in-out 0s infinite normal forwards running;
  -o-animation: scrolld 1.5s ease-in-out 0s infinite normal forwards running;
  -moz-animation: scrolld 1.5s ease-in-out 0s infinite normal forwards running;
  color: #ffffff91;
  font: normal 0.9rem "Open Sans", sans-serif;
  position: absolute;
  bottom: 0;
  z-index: 1;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
@keyframes scrolld {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 0%;
  }
}
.about .left,
.about .right {
  font-size: 0.8rem;
  font-weight: normal;
  color: #ffffff91;
  position: absolute;
  bottom: -10%;
  z-index: 1;
}
.about .left {
  left: 1.7%;
}
.about .right {
  right: 2.6%;
}
.about .about__slider {
  position: absolute;
  top: 10%;
  right: 5%;
  height: 400px;
  width: 550px;
}

/*********************************************************/
/* Main - Skills */
.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 50px 0;
  position: relative;
  height: 760px;
}
.skills .cover {
  width: 65vw;
  position: absolute;
  z-index: -1;
}
.skills .skills__title {
  color: #08FDD8;
  font: normal 4.5rem "Roboto", sans-serif;
  margin-left: 5rem;
}
.skills .skills__title .is-info {
  background: linear-gradient(to right, #ff184e 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: all 0.7s ease-out;
}
.skills .skills__title .is-info:hover {
  background-position: bottom left;
  color: #ffffff;
}
.skills .skills__paragraph {
  color: #ffffff;
  font: normal 1rem "Open Sans", sans-serif;
  margin: 2rem 0 2rem 6rem;
  width: 500px;
  text-align: justify;
  line-height: 0.6cm;
}
.skills .skills__link {
  color: #08FDD8;
}
.skills .skills__link:hover {
  bottom: 1px solid #08FDD8;
}
.skills .skills__slider {
  margin-right: 80px;
}
.skills .info {
  color: #ffffff;
  font: bold 0.9rem "Open Sans", sans-serif;
  transform: rotate(90deg);
  opacity: 0;
}
.skills .skill {
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
  width: 25px;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 1rem;
}
.skills .skill:nth-child(even) {
  background-color: #08FDD8;
}
.skills .skill:nth-child(even) .info {
  color: black;
}
.skills .skill:nth-child(odd) {
  background-color: #ff184e;
}
.skills .skill:first-child, .skills .skill:last-child {
  height: 50px;
  margin-top: none;
}
.skills .skill:nth-last-child(2), .skills .skill:nth-last-child(8) {
  height: 110px;
}
.skills .skill:nth-last-child(3), .skills .skill:nth-last-child(7) {
  height: 150px;
}
.skills .skill:nth-last-child(4), .skills .skill:nth-last-child(6) {
  height: 155px;
}
.skills .skill:nth-last-child(5) {
  height: 180px;
}
.skills .skill:hover {
  transform: translateY(-60px);
  transition-duration: 900ms;
}
.skills .skill:hover .info {
  opacity: 1;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  margin-top: 0rem;
  transform: rotate(90deg);
}

/*********************************************************/
/* Main - Contact */
.contact {
  position: relative;
}
.contact .cover {
  width: 75vw;
  position: absolute;
  z-index: -1;
}
.contact .contact__title {
  color: #08FDD8;
  font: normal 4.5rem "Roboto", sans-serif;
  margin-left: 5rem;
  background: linear-gradient(to right, #ff184e 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: all 0.7s ease-out;
  width: 31%;
}
.contact .contact__title:hover {
  color: #ffffff;
  background-position: bottom left;
}
.contact .contact__paragraph {
  color: #ffffff;
  font: normal 1rem "Open Sans", sans-serif;
  margin: 2rem 0 3rem 6rem;
  width: 500px;
  text-align: justify;
  line-height: 0.6cm;
}
.contact .contact__body {
  display: flex;
  justify-content: space-between;
  margin-left: 6rem;
}
.contact .contact__form {
  flex-basis: 90%;
  width: 55vw;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  gap: 10px 15px;
}
.contact .is-sz-full {
  grid-column: span 2/2;
}
.contact .contact__input {
  color: #ffffff91;
  font: normal 0.95rem "Open Sans", sans-serif;
  padding: 15px 20px 5px 2px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ffffff91;
  outline: none;
  background-color: transparent;
}
.contact .contact__input:focus {
  border-bottom: 1px solid #08FDD8;
}
.contact .contact__cover {
  position: relative;
}
.contact .location {
  position: absolute;
  color: #ff184e;
  right: 55.5%;
  top: 40%;
  display: block;
  animation-name: jumping;
  animation-duration: 900ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  display: none;
  cursor: pointer;
}
@keyframes jumping {
  0% {
    top: 40%;
  }
  50% {
    top: 38%;
  }
  100% {
    top: 40%;
  }
}
.contact .contact__cover-img {
  position: relative;
  flex-basis: 10%;
  width: 90%;
  float: right;
  top: -25%;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
