        @charset "UTF-8";
        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }
        
        $initial: 0%;
        $ending: 100%;
        html,
        body {
            width: 100%;
            height: 100%;
            background-color: $bg-main;
            scroll-behavior: smooth;
        }
        
        a {
            text-decoration: none;
        }
        
        em {
            font-style: italic;
        }
        /* Mixin */
        
        @mixin text-style($color, $fnt-family, $fnt-size, $fnt-weight) {
            color: $color;
            font: $fnt-weight $fnt-size $fnt-family;
        }
        
        @mixin animation($name, $duration, $timing, $delay, $iteration, $direction, $fill, $play) {
            animation: $name $duration $timing $delay $iteration $direction $fill $play;
            -webkit-animation: $name $duration $timing $delay $iteration $direction $fill $play;
            -o-animation: $name $duration $timing $delay $iteration $direction $fill $play;
            -moz-animation: $name $duration $timing $delay $iteration $direction $fill $play;
        }
        /******************************************************************/
        /* Document Scrollbar */
        
         ::-webkit-scrollbar {
            width: 7px;
        }
        
         ::-webkit-scrollbar-track {
            background: $bg-profile;
        }
        
         ::-webkit-scrollbar-thumb {
            background: $clr-mark;
            border-radius: 10px;
        }
        
         ::-webkit-scrollbar-thumb:hover {
            background: $clr-mark-secondary;
        }
        /******************************************************************/
        /* Aside */
        
        .aside {
            background-color: $bg-aside;
            height: 100%;
            font-family: $fnt-text;
            text-align: center;
            position: fixed;
            left: 0;
            z-index: 0;
            .aside__header {
                background-color: $bg-profile;
                color: $clr-primary;
                padding: 15px 12px 30px 12px;
            }
            .aside__logo {
                @include text-style($clr-mark, $fnt-logo, 6rem, bold);
                text-shadow: 5px 0px 0px $clr-mark-secondary;
                margin-right: .50rem
            }
            .aside__title {
                @include text-style($clr-primary, $fnt-logo, 1.6rem, bold);
                border-bottom: 2px solid transparent;
                &:hover {
                    border-bottom: 2px solid $clr-primary;
                }
            }
            .aside__subtitle {
                margin-top: 1.6rem;
                font-size: 0.75rem;
                color: $clr-text;
            }
            .aside__item {
                border-top: 1px solid rgba(255, 255, 255, 0.048);
                padding: 15px 0;
            }
            .aside__link {
                color: $clr-text;
                &:hover {
                    color: $clr-mark;
                    border-bottom: 1px solid $clr-mark;
                    transition-duration: 500ms;
                }
                &.icon {
                    margin-right: 8px;
                    &:hover {
                        border-bottom: none;
                    }
                }
            }
        }
        /*********************************************************/
        /* Main */
        
        .main {
            padding-left: 145px;
            width: 100%;
            height: 100%;
            .loading-indicator {
                position: fixed;
                width: 100%;
                top: 0;
                z-index: 99;
            }
            .progress-container {
                width: 100%;
                height: 5px;
                border-radius: 10px;
                background: transparent;
            }
            .progress-bar {
                height: 5px;
                background: $clr-mark;
                width: 0%;
            }
        }
        /*********************************************************/
        /* Main - Header */
        
        .header {
            margin-bottom: 400px;
            padding: 100px 0 0 0;
            position: relative;
            .mark {
                color: $clr-mark;
                text-shadow: 5px 0px 0px $clr-mark-secondary;
                margin-right: 3px;
            }
            .header__title {
                @include text-style($clr-primary, $fnt-logo, 6rem, bold);
                margin-left: 5rem;
                position: relative;
            }
            .animation__title {
                @include animation(frec, 1s, ease, 2s, 1, normal, forwards, running);
                position: absolute;
                top: -100%;
                left: 0;
                opacity: 0;
                @keyframes frec {
                    from {
                        top: -30%;
                        opacity: 0;
                    }
                    to {
                        top: -5%;
                        opacity: 1;
                    }
                }
                &:hover {
                    color: $clr-mark;
                }
            }
            .animation__title-2 {
                @include animation(frec5, 1s, ease, 3s, 1, normal, forwards, running);
                position: absolute;
                top: 100%;
                right: 0;
                width: 100%;
                padding-left: 50%;
                height: 100%;
                opacity: 0;
                @keyframes frec5 {
                    from {
                        padding-left: 500px;
                        opacity: 0;
                    }
                    to {
                        padding-left: 0;
                        opacity: 1;
                    }
                }
                &:hover {
                    color: $clr-mark-secondary;
                }
                .special {
                    background-color: transparent;
                    color: $clr-primary;
                    &:hover {
                        color: $clr-mark;
                    }
                }
            }
            .animation__title-3 {
                @include animation(flow, 900ms, ease, 4s, 1, normal, forwards, running);
                position: absolute;
                bottom: -300%;
                opacity: 0;
                @keyframes flow {
                    from {
                        bottom: -300%;
                        opacity: 0;
                    }
                    to {
                        bottom: -200%;
                        opacity: 1;
                    }
                }
                &:hover {
                    color: $clr-mark;
                }
                .special-2 {
                    background-color: transparent;
                    color: $clr-primary;
                    &:hover {
                        color: $clr-mark-secondary;
                    }
                }
            }
            .header__subtitle {
                @include text-style($clr-text, $fnt-text, 1rem, normal);
                @include animation(frec2, 4s, ease, 5s, 1, normal, forwards, running);
                position: absolute;
                bottom: -150%;
                letter-spacing: .2cm;
                margin: 2rem 0 3rem 5rem;
                opacity: 0;
                @keyframes frec2 {
                    from {
                        opacity: 0;
                    }
                    to {
                        opacity: 1;
                    }
                }
            }
            .header__button {
                @include animation(frec3, 900ms, ease, 7s, 1, normal, forwards, running);
                @include text-style($clr-mark, $fnt-text, .90rem, bold);
                display: block;
                margin-top: 1rem;
                margin-left: 5rem;
                letter-spacing: .1cm;
                border: 2px solid $clr-mark;
                padding: 15px 50px;
                background: linear-gradient(to right, $clr-mark 50%, transparent 50%);
                background-size: 200% 100%;
                background-position: bottom right;
                transition: all .7s ease-out;
                cursor: pointer;
                position: absolute;
                bottom: -200%;
                z-index: 1;
                opacity: 0;
                &:hover {
                    background-position: bottom left;
                    color: $bg-main;
                }
                @keyframes frec3 {
                    from {
                        bottom: -200%;
                        opacity: 0;
                    }
                    to {
                        bottom: -170%;
                        opacity: 1;
                    }
                }
            }
            .scroll {
                left: -1%;
                float: left;
            }
            .scroll-right {
                right: 0;
                float: right;
            }
            .scroll,
            .scroll-right {
                @include animation(scrolld, 1.5s, ease-in-out, 0s, infinite, normal, forwards, running);
                @include text-style($clr-text, $fnt-text, .90rem, normal);
                position: absolute;
                bottom: 0;
                z-index: 1;
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
            }
            .left,
            .right {
                font-size: .80rem;
                font-weight: normal;
                color: $clr-text;
                position: absolute;
                bottom: -30%;
                z-index: 1;
            }
            .left {
                left: 1.7%;
            }
            .right {
                right: 2.6%;
            }
        }
        /*********************************************************/
        /* Main - Portfolio */
        
        .portfolio {
            position: relative;
            padding: 100px 0 0 0;
            .cover {
                width: 85vw;
                position: absolute;
                top: -10%;
                right: 0%;
                left: 0%;
                z-index: -1;
            }
            .portfolio__title {
                @include text-style($clr-mark-secondary, $fnt-logo, 4.5rem, normal);
                margin-left: 5rem;
                background: linear-gradient(to right, $clr-mark 50%, transparent 50%);
                background-size: 200% 100%;
                background-position: bottom right;
                transition: all .7s ease-out;
                width: 34%;
                &:hover {
                    background-position: bottom left;
                    color: $clr-primary;
                }
            }
            .portfolio__paragraph {
                @include text-style($clr-primary, $fnt-text, 1rem, normal);
                margin: 2rem 0 2rem 6rem;
                width: 600px;
                text-align: justify;
                line-height: .7cm;
                &.is-sz-sm {
                    font-size: .90rem;
                    margin-bottom: 4rem;
                }
            }
            .portfolio__gallery {
                display: grid;
                grid-template-columns: repeat(5, 2fr);
                grid-template-rows: auto;
            }
            .portfolio__thumbnail {
                overflow: hidden;
                position: relative;
                cursor: pointer;
                img {
                    max-width: 100%;
                    min-width: 100%;
                    max-height: 100%;
                    min-height: 100%;
                    object-fit: cover;
                    filter: brightness(50%);
                }
                .portfolio__view-project {
                    @include animation(grow, 500ms, ease, 0s, 1, normal, forwards, running);
                    @include text-style($bg-profile, $fnt-text, .60rem, bold);
                    text-align: center;
                    letter-spacing: .1cm;
                    background-color: $clr-mark-secondary;
                    border-radius: 50%;
                    padding: 35px 15px;
                    position: absolute;
                    left: 30%;
                    top: 30%;
                    z-index: 10;
                    display: none;
                }
                @keyframes grow {
                    0% {
                        transform: scale($initial);
                    }
                    100% {
                        transform: scale($ending);
                    }
                }
                &:hover img {
                    transition-duration: 400ms;
                    transform: scale(110%);
                    filter: brightness(100%);
                }
                &:hover .portfolio__view-project {
                    display: block;
                }
            }
        }
        /*********************************************************/
        /* Main - About */
        
        .about {
            position: relative;
            padding: 70px 0 0;
            .cover {
                width: 85vw;
                position: absolute;
                top: -55%;
                right: 0%;
                left: -10%;
                z-index: -1;
            }
            .about__cover-img {
                margin-right: 5rem;
                margin-bottom: 5rem;
            }
            .about__body {
                display: flex;
                justify-content: space-between
            }
            .about__title {
                @include text-style($clr-mark-secondary, $fnt-logo, 4.5rem, normal);
                margin-left: 5rem;
                background: linear-gradient(to right, $clr-mark 50%, transparent 50%);
                background-size: 200% 100%;
                background-position: bottom right;
                transition: all .7s ease-out;
                width: 46%;
                &:hover {
                    color: $clr-primary;
                    background-position: bottom left;
                }
            }
            .about__paragraph {
                @include text-style($clr-primary, $fnt-text, 1rem, normal);
                margin: 2rem 0 2rem 6rem;
                width: 400px;
                text-align: justify;
                line-height: .6cm;
            }
            .scroll {
                left: -1%;
                float: left;
            }
            .scroll-right {
                right: 0;
                float: right;
            }
            .scroll,
            .scroll-right {
                @include animation(scrolld, 1.5s, ease-in-out, 0s, infinite, normal, forwards, running);
                @include text-style($clr-text, $fnt-text, .90rem, normal);
                position: absolute;
                bottom: 0;
                z-index: 1;
                transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
            }
            @keyframes scrolld {
                0% {
                    bottom: 0;
                }
                50% {
                    bottom: 3%;
                }
                100% {
                    bottom: 0%;
                }
            }
            .left,
            .right {
                font-size: .80rem;
                font-weight: normal;
                color: $clr-text;
                position: absolute;
                bottom: -10%;
                z-index: 1;
            }
            .left {
                left: 1.7%;
            }
            .right {
                right: 2.6%;
            }
            .about__slider {
                position: absolute;
                top: 10%;
                right: 5%;
                height: 400px;
                width: 550px;
            }
        }
        /*********************************************************/
        /* Main - Skills */
        
        .skills {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0 50px 0;
            position: relative;
            height: 760px;
            .cover {
                width: 65vw;
                position: absolute;
                z-index: -1;
            }
            .skills__title {
                @include text-style($clr-mark-secondary, $fnt-logo, 4.5rem, normal);
                margin-left: 5rem;
                .is-info {
                    background: linear-gradient(to right, $clr-mark 50%, transparent 50%);
                    background-size: 200% 100%;
                    background-position: bottom right;
                    transition: all .7s ease-out;
                }
                .is-info:hover {
                    background-position: bottom left;
                    color: $clr-primary;
                }
            }
            .skills__paragraph {
                @include text-style($clr-primary, $fnt-text, 1rem, normal);
                margin: 2rem 0 2rem 6rem;
                width: 500px;
                text-align: justify;
                line-height: .6cm;
            }
            .skills__link {
                color: $clr-mark-secondary;
                &:hover {
                    bottom: 1px solid $clr-mark-secondary
                }
            }
            .skills__slider {
                margin-right: 80px;
            }
            .info {
                @include text-style($clr-primary, $fnt-text, .90rem, bold);
                transform: rotate(90deg);
                opacity: 0;
            }
            .skill {
                cursor: pointer;
                vertical-align: middle;
                display: inline-block;
                width: 25px;
                padding: 5px 10px;
                border-radius: 20px;
                margin-right: 1rem;
                &:nth-child(even) {
                    background-color: $clr-mark-secondary;
                    .info {
                        color: black;
                    }
                }
                &:nth-child(odd) {
                    background-color: $clr-mark;
                }
                &:first-child,
                &:last-child {
                    height: 50px;
                    margin-top: none;
                }
                &:nth-last-child(2),
                &:nth-last-child(8) {
                    height: 110px;
                }
                &:nth-last-child(3),
                &:nth-last-child(7) {
                    height: 150px;
                }
                &:nth-last-child(4),
                &:nth-last-child(6) {
                    height: 155px;
                }
                &:nth-last-child(5) {
                    height: 180px;
                }
                &:hover {
                    transform: translateY(-60px);
                    transition-duration: 900ms;
                    .info {
                        opacity: 1;
                        transition-duration: 1s;
                        transition-timing-function: ease-out;
                        margin-top: 0rem;
                        transform: rotate(90deg);
                    }
                }
            }
        }
        /*********************************************************/
        /* Main - Contact */
        
        .contact {
            position: relative;
            .cover {
                width: 75vw;
                position: absolute;
                z-index: -1;
            }
            .contact__title {
                @include text-style($clr-mark-secondary, $fnt-logo, 4.5rem, normal);
                margin-left: 5rem;
                background: linear-gradient(to right, $clr-mark 50%, transparent 50%);
                background-size: 200% 100%;
                background-position: bottom right;
                transition: all .7s ease-out;
                width: 31%;
                &:hover {
                    color: $clr-primary;
                    background-position: bottom left;
                }
            }
            .contact__paragraph {
                @include text-style($clr-primary, $fnt-text, 1rem, normal);
                margin: 2rem 0 3rem 6rem;
                width: 500px;
                text-align: justify;
                line-height: .6cm;
            }
            .contact__body {
                display: flex;
                justify-content: space-between;
                margin-left: 6rem;
            }
            .contact__form {
                flex-basis: 90%;
                width: 55vw;
                display: grid;
                grid-template-columns: repeat(1, 2fr);
                gap: 10px 15px;
            }
            .is-sz-full {
                grid-column: span 2/2;
            }
            .contact__input {
                @include text-style($clr-text, $fnt-text, .95rem, normal);
                padding: 15px 20px 5px 2px;
                width: 100%;
                border: none;
                border-bottom: 1px solid $clr-text;
                outline: none;
                background-color: transparent;
                &:focus {
                    border-bottom: 1px solid $clr-mark-secondary;
                }
            }
            .contact__cover {
                position: relative;
            }
            .location {
                position: absolute;
                color: $clr-mark;
                right: 55.5%;
                top: 40%;
                display: block;
                animation-name: jumping;
                animation-duration: 900ms;
                animation-timing-function: ease-in-out;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
                animation-play-state: running;
                display: none;
                cursor: pointer;
            }
            @keyframes jumping {
                0% {
                    top: 40%;
                }
                50% {
                    top: 38%;
                }
                100% {
                    top: 40%;
                }
            }
            .contact__cover-img {
                position: relative;
                flex-basis: 10%;
                width: 90%;
                float: right;
                top: -25%;
                cursor: pointer;
            }
        }